<!DOCTYPE HTML>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>

    <h1>database</h1>

    <a href="clear">clear</a>

    <div id="game_container"></div>

    <div class="section" id="games">
        <h1><span>Games</span></h1>
        <ul>
            {% for game in data.games %}
            <li>{{ game }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="section" id="game_players">
        <h1><span>Game Players</span></h1>
        <ul>
        {% for player in data.players %}
            <li>{{ player.id }} (in game #{{ player.game }})</li>
        {% endfor %}
        </ul>
    </div>

    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script src="{{ url_for('static', filename='game_container.js') }}"></script>

</body>

</html>


