#player_game {
    padding-left: 10px;
    border: solid black 1px;
}

#games {
    margin-top: 5px;
    padding-left: 10px;
    border: solid black 1px;
}

#logs {
    font-family: Courier New;
    font-size: 1em;
}